body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'PT Serif', serif;
    
    
}

/* Navbar */
.h1-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    
}

.navbar .navbar-nav .nav-item{
    list-style: none;
}

.navbar-nav li {
    display: inline-block;
    padding: 0px 20px;

}

.navbar-nav .nav-item .nav-link {
    text-align: center;
    transition: all 0.5s ease 0s;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.navbar-nav .nav-item .nav-link:hover {
    padding: 15px 45px;
    border-radius: 80px;
    color: white;
    background: #4a9954;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.navbar-brand img {
    width: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

/* Slider */
/* #slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

@keyframes slider {
    0% { 
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
}

#slider figure img{
    float: left;
    width: 20%;
} */
/* About Section */
.about-area {
    margin: 100px 0;
}

.about-area .about-title {
    text-align: center;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;

}

.about-area p {
    margin-left: 25px;
    text-align: justify;
    font-family: 'PT Serif', serif;
    line-height: 30px;
}

.about-area .about-image img:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.carousel-inner {
    box-shadow: 10px 10px 10px;
    border-radius: 5%;
}


/* Conditions Section  */

.crops-info {
    background-color: #4a9954;
    background-image: linear-gradient(315deg, #4a9954 50%, #233329 50%);

    
    width: 100%;
    margin: 40px 0;
    padding-bottom: 40px;
}


.crop-title {
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.crop-button {
    border-radius: 80px;
    background-color: orange;
    color: white;
}
.button {
    padding: 25px;
}

.card {
    border-radius: 5%;
    padding: 15px;
    margin-bottom: 25px;

}
.card:hover {
    border-radius: 10%;
    background-color: #0B5345 ;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    color: white;
    transition: 1.0s ease-in-out;
    transform: scale(1.1);
    z-index: 1;
    border: 2px solid white;

}

.card-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}

.card-text {
    text-align: center;
}

.card-image{
    display: block;
    margin: auto;
    padding: 25px;
    border-radius: 50%;
    background-color: white;
    padding: 25px;
    
}

/* Farmer's Guide Section */
.guide-info {
    margin-bottom: 100px;
}

.guide-info h1 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.guide-info img {
    margin: auto;
    display: block;
    padding: 15px 0;
}

.guide-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    line-height: 30px;


}

.guide-title {
    padding: 10px;
}


.guide-button {
    border-radius: 80px;
    background-color:#00e676;
    color: white;
}


/* Market Section  */
.market-info h1 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.market-info img {
    margin: auto;
    display: block;
    padding: 15px 0;
}

.market-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.market-title {
    padding: 10px;
}

.market-title h3 {
    padding: 20px;
    font-weight: bold;

}

.market-button {
    border-radius: 80px;
    background-color:#00e676;
    color: white;
}

.market-grow {
    animation-name: grow-text;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes grow-text {
    0% {font-size: 25px;}
    100% { font-size: 40px;}
}

/* Footer Information */
footer {
    width: 100%;
    margin-top: 50px;
    background-color: whitesmoke;   
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;

}

@media only screen and (max-width: 400px) {
    .navbar-brand img {
        border-radius: 50%;
        background-color: white;
        padding: 10px;
        width: 70px;
    }
    .navbar {
        display: flex;
        justify-items: space-evenly;
        flex-direction: column;
    }
    .h1-title {
        width: 100%;
        font-size: 35px;
    }
}


