h1 {
 color: blueviolet;
 font-size: 50px;
 font-family: 'Courier New', Courier, monospace;
 background-color: burlywood;
}
#navbarNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.container1{
    max-width: 100%;
  text-align: center;
}
.headerInImage{

  bottom: 338px;
  right: 136px;
  color: white;
  font-size: 150px;
  
}